/Sample_Seuss.txt
/Text_Generator_Automatic.spec
/dict_Sample_Seuss.json
/dict_Atlas.json
/Atlas.txt
/dist/
/build/
/Markov_Text_Generator_cmdLine.spec
/Markov_Text_Generator_CLI.dist/
/Markov_Text_Generator_CLI.build/
/MinGW/
/.idea/
/Markov Text Pyautogui_Unnecessary-Files.7z
